*{
    line-height: 20px;

}

html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body  {
    margin: 0px;
    padding: 0px;
    background: #ECEBEB
}

.layar {
    width: 1000px;
    margin: auto;
}

nav {
    z-index: 100;
    top: 0;
    background: #fff;
    text-align: center;
    position: fixed;
    border-bottom: 1px solid #b1b1b1;
    line-height: 60px;
    width: 100%;
    transition: background-color 0.5s ease;
}

nav .logo {
    float: left;
    position: relative;
    line-height: 55px;
    text-align: center;
}

nav .logo img {
    width: 200px;
    vertical-align: middle;
}

nav .menu {
    float: right;
    height: 60px;
    max-width: 600px;
}

nav .menu img {
    max-width: 120px;
    max-height: 30px;
    vertical-align: middle;
}
nav .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav .menu ul li {
    list-style-type: none;
    float: left;
    line-height: 60px;
}

nav ul li a {
    color: black;
    text-align: center;
    padding: 0px 12px 0px 12px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Rokkitt', serif;
    font-family: 'Signika', sans-serif;
}

nav ul li a:hover{
    text-transform: uppercase;
}

nav ul li a img:hover {
    transform: scale(1.1);
}


 /* untuk efek scroll pada nav */
nav.background-scroll {
     background-color:#DCDCDC;
}

nav.background-scroll .tombol-menu .garis{
    background-color: #333;
}

/* Akhir Nav */

/*STYLE SEARCH BOX*/
.search{
    padding-right: 70px;
    vertical-align: middle;
    line-height: 55px;
}

.boxsearch {
    border:  none;
    border-radius: 25px;
    line-height: 30px;
    background: rgba(var(--bb2,239,239,239),1);
    text-align: left;
}

.ikonsearch {
    border: none;
    background: transparent;
}

.ikonsearch:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

section {
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 50px 0px 50px 0px;
}

section ul {
    list-style-type: none;
    background: white;
    border: 1px solid #b1b1b1;
}

section.beranda .avatar {
    display: flex;
    padding: 10px 10px 10px 10px;
}

section.beranda .avatar img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid white;
}

section.beranda .avatar .username {
    font-size: 15px;
    padding: 15px 0px 15px 10px
}

section.beranda .gambar img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 20px;
    max-width: 720px;
    max-height: 1280px;
    padding: 5px 5px 5px 5px;
} 

section.beranda .aksi {
    text-align: center;
    padding: 10px 10px 10px 10px;
}

section.beranda li a {
    padding: 5px 5px 5px 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: #04A1C3;
    text-decoration: none;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    color: white;
}

section.beranda li a:hover {
    background-color: #025B6F ;
    transition: 0.2s ease-in-out;
    color: black;
}


section.beranda .caption {
    font-family: 'Rokkitt', serif;
    font-family: 'Signika', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 800px;
    text-overflow: clip;
    word-wrap: break-word;
    text-align: justify;
}